.admin
	&__btn
		justify-content: flex-start

	&--download
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		.block
			padding-right: 20px


		input, textarea
			background-color: #010101
			color: #fff
			border-radius: 10px

			&::placeholder
				color: #fff

		label
			position: relative
			padding-left: 25px
			cursor: pointer
			margin-bottom: 0
			margin-right: 0
			font-size: 16px
			color: $text
			line-height: 1
			transition: all .6s

			&::before,
			&::after
				content: ''
				position: absolute
				left: 0

			&::before
				width: 15px
				height: 15px
				border: 1px solid $text

			&::after
				width: 7px
				height: 7px
				border: 1px solid $accent
				background: $accent
				left: 4px
				top: 4px
				transition: all .6s

			&:hover,
			&:focus
				color: $accent

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label::after
			transform: scale(1)

		input[type="checkbox"] + label::after
			transform: scale(0)

		input[type="radio"]
			display: none

		input[type="radio"]:checked + label::after
			transform: scale(1)

		input[type="radio"] + label::after
			transform: scale(0)

		&__left
			max-width: 330px
			width: 100%

			&_img
				position: relative
				display: block
				width: 330px
				height: 350px
				margin-bottom: 35px
				background-color: #000

				&:hover,
				&:focus
					img
						transform: translate(-50%, -50%) scale(1.1)


				img
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) scale(1)
					transition: all .6s


			.btn
				width: 100%
				margin-bottom: 20px

				&:last-child
					margin-bottom: 0
		
		&__right
			width: 68%

			p
				font-size: 18px

			&_title
				width: 18%
				color: #777b7b
				line-height: 50px

			&_line
				display: flex
				margin-bottom: 50px

				&--btn
					justify-content: flex-end

			&_block
				width: 100%

			&_header
				position: relative
				background-color: #000
				padding: 15px 30px
				border-radius: 25px
				line-height: 1

			&_select
				margin-bottom: 50px
				background-color: #000
				border-radius: 25px

				div
					padding: 15px 30px


			&_radio
				label
					margin-right: 70px

					&:last-child
						margin-right: 0

			&_list
				flex-direction: column
				label
					margin-bottom: 15px

					&:last-child
						margin-bottom: 0
		
		.block
			margin-bottom: 50px

			&__content
				padding-top: 20px

	
	&--list
		display: flex
		justify-content: space-around
		flex-wrap: wrap

		&__item
			width: 23.5%
			margin-bottom: 80px
			transition: all .6s

			&:hover
				margin-top: -30px

			a
				position: relative
				display: block

				&:hover,
				&:focus
					span
						opacity: 1
						transform: translate(-50%, -50%) scale(1)

				span
					display: block
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) scale(0)
					background-color: $accent
					height: 50px
					width: 70px
					border-radius: 25px
					opacity: 0
					transition: all .6s

					&::before
						content: ''
						display: block
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-20%, -50%)
						border-bottom: 10px solid transparent
						border-left: 20px solid #fff
						border-right: 20px solid transparent
						border-top: 10px solid transparent

			img
				margin-bottom: 20px
				width: 100%

			p
				padding: 15px
				background-color: #343434
				border-radius: 50px
				margin-bottom: 15px
				text-align: center
				font-size: 18px
				line-height: 1
				font-family: $title

			&_btn
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				align-items: center

				img
					width: 13px
					margin-bottom: 0
					margin-top: -5px

				.btn
					padding: 0 25px
	
	
	&--table
		width: 100%
		text-align: center
		margin-bottom: 40px

		tr
			font-size: 16px
			transition: all .6s

			&:hover
				background-color: #343434

			&:first-child
				background-color: #343434


		th
			padding: 15px
			font-weight: 300
			color: #777b7b

			&:first-child
				border-bottom-left-radius: 30px
				border-top-left-radius: 30px
			&:last-child
				border-top-right-radius: 30px
				border-bottom-right-radius: 30px
		
		td
			padding: 45px 15px

			&:first-child
				border-bottom-left-radius: 30px
				border-top-left-radius: 30px
			&:last-child
				border-top-right-radius: 30px
				border-bottom-right-radius: 30px
			span
				color: #777b7b


		label
			position: relative
			padding-left: 25px
			cursor: pointer
			margin-right: 0
			font-size: 16px
			color: $text
			line-height: 1
			transition: all .6s

			&::before,
			&::after
				content: ''
				position: absolute
				left: 0

			&::before
				width: 15px
				height: 15px
				border: 1px solid $text

			&::after
				width: 7px
				height: 7px
				border: 1px solid $accent
				background: $accent
				left: 4px
				top: 4px
				transition: all .6s

			&:hover,
			&:focus
				color: $accent

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label::after
			transform: scale(1)

		input[type="checkbox"] + label::after
			transform: scale(0)

		&__btn
			display: flex
			justify-content: flex-end

			.btn
				max-width: 320px
				width: 100%
				background-color: transparent

				&:hover,
				&:focus
					background-color: $accent











