	

.block
	background-color: #000
	border-radius: 20px
	padding: 15px 100px 15px 40px
	margin-bottom: 15px

	&:last-child
		margin-bottom: 0


	&--select
		position: relative
		padding-right: 20px

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label
			background-color: #363636

		input[type="radio"]
			display: none

		input[type="radio"]:checked + label
			background-color: #363636

		.block
			&__header
				padding-right: 50px

			&__content
				position: absolute
				left: 0
				top: 100%
				right: 0
				z-index: 1
				background-color: #000
				border-radius: 20px
				padding-top: 10px

				label
					margin: 0 auto 5px
					width: 90%
					padding: 10px
					border-radius: 20px

	&--active
		.block__header
			.arrow
				border-color: $accent
				transform: translate(0, -50%) rotate(180deg)

				&::before
					border-color: $accent

	a
		color: $text

		&:hover,
		&:focus
			color: $accent

	ol, ul
		margin-bottom: 25px
		padding-left: 20px

	p
		align-items: center
		margin-right: 25px

	&__header
		position: relative
		display: flex
		align-items: center
		width: 100%
		position: relative
		font-size: 18px
		line-height: 1
		cursor: pointer

		.arrow
			position: absolute
			right: 0
			top: 50%
			transform: translate(0, -50%)
			display: block
			width: 30px !important
			height: 30px !important
			border: 2px solid #fff
			border-radius: 50%
			transition: all .6s

			&::before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -70%) rotate(225deg)
				width: 8px
				height: 8px
				border-top: 1.3px solid #fff
				border-left: 1.3px solid #fff
				transition: all .6s

		.konstruktor--step__comment_img
			width: 100px
			height: 100px
			margin-bottom: 0
			margin-right: 50px

			img
				width: 100px
				height: 100px

	&__content
		width: 100%
		font-size: 16px
		padding-top: 40px
		display: flex
		justify-content: space-between
		align-items: flex-start
		
		p
			text-indent: 20px
			margin-bottom: 25px
			



.konstruktor

	&__container
		max-width: 930px

	&__block
		width: auto !important
		min-width: 100px
		padding: 15px 25px !important
		position: relative
		margin-bottom: 0 !important
		margin-right: 10px
		
		.block__header
			font-size: 18px
			color: #fff
			text-align: center !important
			width: 100%
			display: block
			margin-bottom: 0 !important
			white-space: nowrap

		p
			margin: 0 !important

			div
				display: inline-block
		span
			width: 100% !important

		.block__content
			padding-top: 0
			position: absolute
			top: 100%
			left: 0
			right: 0
			background-color: #000
			border-radius: 20px
			text-align: center
			z-index: 1


		label
			width: 90%
			margin: 0 auto !important
			padding: 10px 20px
			border-radius: 20px
			margin-bottom: 5px

			&:last-child
				margin-bottom: 0


	&__title
		display: flex
		justify-content: space-between
		margin-bottom: 55px
		flex-wrap: wrap

		&--left
			justify-content: flex-start

			div
				margin-right: 70px

		h2
			margin-bottom: 10px
			width: auto

		div
			display: flex
			flex-direction: column
			width: auto
			margin-bottom: 10px

		a
			color: $text
			display: flex
			font-size: 18px
			width: auto

			&:hover,
			&:focus
				color: $accent

				span
					border-color: $accent
					&::before
						border-color: $accent

		span
			position: relative
			display: block
			width: 22px
			height: 22px
			border: 2px solid #fff
			border-radius: 50%
			transition: all .6s
			margin: 0 15px 0 0

			&::before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-30%, -50%) rotate(-45deg)
				width: 8px
				height: 8px
				border-top: 1.3px solid #fff
				border-left: 1.3px solid #fff
				transition: all .6s
		
		.btn
			padding: 0 25px

	
	&__list

		&_item
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 25px

			&:hover,
			&:focus
				.konstruktor__list_link
					background-color: #616161
					border: 1px solid transparent

				b
					opacity: 1

		&_link
			position: relative
			display: flex
			justify-content: space-between
			background-color: transparent
			border-radius: 10px
			color: $text
			width: 100%
			line-height: 1
			margin-right: 30px
			transition: all .6s
			border: 1px solid #fff

			&:hover,
			&:focus
				color: $text

			span
				display: block
				padding: 15px
				font-size: 16px
			
			b
				display: block
				background-color: #8d8d8d
				padding: 15px 60px 15px 35px
				border-radius: 10px
				font-size: 18px
				font-family: $title
				opacity: 0
				transition: all .6s
				
				&:hover,
				&:focus
					background-color: $accent

				&:after
					content: ''
					display: block
					position: absolute
					right: 30px
					top: 50%
					transform: translate(0, -50%) rotate(135deg)
					width: 10px
					height: 10px
					border-top: 2px solid $text
					border-left: 2px solid $text


	&__program
		margin-bottom: 70px

		input
			max-width: 310px
			background-color: #000
			border-radius: 20px
			color: #fff

			&::placeholder
				color: #fff


		b
			display: flex
			flex-wrap: wrap
			max-width: 60%

		.block
			margin-bottom: 5px !important

		p
			display: flex
			flex-wrap: wrap
			align-items: center
			font-size: 16px
			color: #5f6262
			margin-bottom: 80px

		span
			display: block
			width: 40%

		b
			position: relative
			margin-right: 75px

			&:last-child
				margin-right: 0


		label
			position: relative
			padding-left: 25px
			cursor: pointer
			margin-bottom: 0
			margin-right: 0
			font-size: 16px
			color: $text
			line-height: 1
			transition: all .6s

			&:hover,
			&:focus
				color: $accent

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label
			background-color: #363636

		input[type="radio"]
			display: none

		input[type="radio"]:checked + label
			background-color: #363636

		&_btn
			display: flex
			justify-content: flex-end
			width: 100%


	&--step

		&__title
			display: flex
			align-items: center
			margin-bottom: 40px

			h3
				font-size: 18px
				margin-right: 100px
				text-transform: uppercase

			p
				margin-right: 20px
				font-size: 18px
				font-family: $title

			select
				background-color: transparent
				border: 1px solid #5f6262
				border-radius: 10px
				outline: none
				color: #5f6262
				height: 50px
				padding: 0 50px
				font-size: 18px
				font-family: $title
		
		&__comment
			margin-bottom: 50px

			&_item
				position: relative
				padding: 70px 70px 70px 25px
				margin-bottom: 25px
				background-color: #000
				display: flex
				justify-content: space-between
				justify-content: flex-start

				&:last-child
					margin-bottom: 0

				p
					display: flex
					justify-content: space-between
					font-size: 16px
					margin-bottom: 14px
					font-weight: 300

					&:last-child
						margin-bottom: 0

				span
					width: 77%

					&:first-child
						width: 20%
						color: #5f6262

				&--two
					padding: 25px
					align-items: center
					flex-direction: column


			&_block
				width: 100%
			
			&_img
				position: relative
				display: block
				width: 220px
				height: 220px
				margin-right: 90px
				margin-bottom: 15px

				&:hover,
				&:focus
					span
						opacity: 1
						transform: translate(-50%, -50%) scale(1)

				img
					width: 220px

				span
					display: block
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) scale(0)
					background-color: $accent
					height: 50px !important
					width: 70px !important
					border-radius: 25px
					opacity: 0
					transition: all .6s

					&::before,
					&::after
						content: ''
						display: block
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-50%, -50%)
						background-color: $text

					&::before
						width: 3px
						height: 16px

					&::after
						width: 16px
						height: 3px

			&_option
				position: absolute
				top: 12px
				right: 12px
				display: flex

				a
					display: block
					border: 1px solid $text
					padding: 15px 20px
					border-radius: 25px
					margin-right: 12px
					background-color: #000

					&:hover,
					&:focus
						background-color: $accent
						border-color: $accent

					&:last-child
						margin-right: 0

				img
					margin-right: 0
			
		&__form
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			border: 1px solid #fff
			border-radius: 25px
			padding: 50px

			.tabs__wrap
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				width: 100%

			.btn
				padding: 0 15px

			h3
				font-size: 18px
				margin-right: 100px
				text-transform: uppercase

			&_header
				margin-bottom: 45px
				display: flex
				align-items: center
				width: 100%

				.btn
					margin-right: 30px

					&:last-child
						margin-right: 0

			&_left
				width: 20%

				.btn
					width: 100%
					margin-bottom: 10px

			&_img
				position: relative
				width: 100%
				height: 230px
				background: #343434
				margin-bottom: 30px

				img
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					max-width: 70px

			&_right
				width: 75%

				label
					color: #5f6262
					font-size: 16px
					width: 20%
					padding-top: 10px
					line-height: 1.1

				input, textarea
					width: 75%

				textarea
					min-height: 160px
			
				p
					display: flex
					justify-content: space-between
					flex-wrap: wrap
					margin-bottom: 30px

					&:last-child
						margin-bottom: 0
			
			&_btn
				display: flex
				justify-content: flex-end
				width: 100%
				margin-top: 50px

