.konstruktor

	&__container
		max-width: 930px

	&__title
		display: flex
		justify-content: space-between
		margin-bottom: 55px
		flex-wrap: wrap

		&--left
			justify-content: flex-start

			div
				margin-right: 70px

		h2
			margin-bottom: 10px
			width: auto

		div
			display: flex
			flex-direction: column
			width: auto
			margin-bottom: 10px

		a
			color: $text
			display: flex
			font-size: 18px
			width: auto

			&:hover,
			&:focus
				color: $accent

				span
					border-color: $accent
					&::before
						border-color: $accent

		span
			position: relative
			display: block
			width: 22px
			height: 22px
			border: 2px solid #fff
			border-radius: 50%
			transition: all .6s
			margin: 0 15px 0 0

			&::before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-30%, -50%) rotate(-45deg)
				width: 8px
				height: 8px
				border-top: 1.3px solid #fff
				border-left: 1.3px solid #fff
				transition: all .6s
		
		.btn
			padding: 0 25px

	
	&__list

		&_item
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 25px

			&:hover,
			&:focus
				.konstruktor__list_link
					background-color: #616161
					border: 1px solid transparent

				b
					opacity: 1

		&_link
			position: relative
			display: flex
			justify-content: space-between
			background-color: transparent
			border-radius: 25px
			color: $text
			width: 100%
			line-height: 1
			margin-right: 30px
			transition: all .6s
			border: 1px solid #fff

			&:hover,
			&:focus
				color: $text

			span
				display: block
				padding: 15px
				font-size: 16px
			
			b
				display: block
				background-color: #8d8d8d
				padding: 15px 60px 15px 35px
				border-radius: 25px
				font-size: 18px
				font-family: $title
				opacity: 0
				transition: all .6s
				
				&:hover,
				&:focus
					background-color: $accent

				&:after
					content: ''
					display: block
					position: absolute
					right: 30px
					top: 50%
					transform: translate(0, -50%) rotate(135deg)
					width: 10px
					height: 10px
					border-top: 2px solid $text
					border-left: 2px solid $text


	&__program
		margin-bottom: 70px

		p
			display: flex
			flex-wrap: wrap
			align-items: center
			font-size: 16px
			color: #5f6262
			margin-bottom: 80px

		span
			display: block
			width: 40%

		b
			position: relative
			margin-right: 75px

			&:last-child
				margin-right: 0

		label
			position: absolute
			bottom: 100%
			left: 50%
			transform: translate(-50%, 0)
			color: $text
			white-space: nowrap

		input
			background: #000
			outline: none
			border: none
			height: 50px
			width: 110px
			color: $text
			padding: 0 35px
			text-align: center
			font-size: 16px
			font-family: $fonts
			border-radius: 30px
			font-weight: 700

			&::placeholder
				color: $text
				font-weight: 700
		
		&_btn
			display: flex
			justify-content: flex-end
			width: 100%


	&--step

		&__title
			display: flex
			align-items: center
			margin-bottom: 40px

			h3
				font-size: 18px
				margin-right: 100px
				text-transform: uppercase

			p
				margin-right: 20px
				font-size: 18px
				font-family: $title

			select
				background-color: transparent
				border: 1px solid #5f6262
				border-radius: 25px
				outline: none
				color: #5f6262
				height: 50px
				padding: 0 50px
				font-size: 18px
				font-family: $title
		
		&__comment
			margin-bottom: 50px

			&_item
				position: relative
				padding: 80px 90px 70px 25px
				margin-bottom: 25px
				background-color: #000
				display: flex
				justify-content: space-between
				justify-content: flex-start

				&:last-child
					margin-bottom: 0


				p
					display: flex
					justify-content: space-between
					font-size: 16px
					margin-bottom: 30px
					font-weight: 300

					&:last-child
						margin-bottom: 0

				span
					width: 77%

					&:first-child
						width: 20%
						color: #5f6262
			
			&_img
				width: 220px
				height: auto
				margin-right: 90px

				img
					width: 220px

			&_option
				position: absolute
				top: 12px
				right: 12px
				display: flex

				a
					display: block
					border: 1px solid $text
					padding: 15px 20px
					border-radius: 25px
					margin-right: 12px
					background-color: #000

					&:hover,
					&:focus
						background-color: $accent
						border-color: $accent

					&:last-child
						margin-right: 0

				img
					margin-right: 0
			
		&__form
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			border: 1px solid #fff
			border-radius: 25px
			padding: 50px

			.btn
				padding: 0 15px

			h3
				font-size: 18px
				margin-right: 100px
				text-transform: uppercase

			&_header
				margin-bottom: 45px
				display: flex
				align-items: center
				width: 100%

				.btn
					margin-right: 30px

					&:last-child
						margin-right: 0

			&_left
				width: 20%

			&_img
				position: relative
				width: 230px
				height: 230px
				background: #343434
				margin-bottom: 30px

				img
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					max-width: 70px

			&_right
				width: 75%

				label
					color: #5f6262
					font-size: 16px
					width: 20%
					padding-top: 10px
					line-height: 1.1

				input, textarea
					width: 75%

				textarea
					min-height: 160px
			
				p
					display: flex
					justify-content: space-between
					flex-wrap: wrap
					margin-bottom: 30px

					&:last-child
						margin-bottom: 0
			
			&_btn
				display: flex
				justify-content: flex-end
				width: 100%
				margin-top: 50px

	




