.profile

	&--my
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&__left
			width: 24%

			&_img
				position: relative
				width: 100%
				border-radius: 25px

				span
					position: absolute
					top: 25px
					right: 25px
					background-color: #00a651
					border-radius: 25px
					padding: 3px 10px
					font-weight: 700
					font-size: 16px

				div
					position: absolute
					bottom: 0
					right: 0
					left: 0
					width: 100%
					display: flex
					flex-direction: column
					align-items: center
					border-radius: 25px
					background-color: rgba(#0c0c0c, .60)
					padding: 20px

				.btn
					height: 45px
					line-height: 45px
					border-color: transparent
					background-color: rgba(#fff, .33)
					margin-bottom: 10px
					width: 200px
					padding: 0 10px

					&:hover,
					&:focus
						background-color: $accent

					&:last-child
						margin-bottom: 0

			img
				width: 100%
				border-radius: 25px


		&__right
			width: 68%
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			h2
				margin-bottom: 75px
				width: 100%

			li
				display: flex
				justify-content: space-between
				margin-bottom: 45px
				font-size: 16px

			span
				font-size: 16px
				color: #777b7b

			p
				margin-bottom: 30px

				&:last-child
					margin-bottom: 0

			.btn
				width: 100%
				margin-bottom: 25px

				&:last-child
					margin-bottom: 0


			&_col
				width: 45%

	&--edit
		li
			align-items: center
			margin-bottom: 25px

			span
				width: 42%

				b
					color: $accent

			input
				width: 56%
				padding: 0 25px

			p
				width: 56%
				display: flex
				align-items: center

				span
					display: block
					text-align: center

		&__right
			&_col
				width: 48%

		&__btn
			display: flex
			justify-content: flex-end
			width: 100%
			margin-top: 15px

	&--program
		&__header
			padding-left: 0

		&__name
			font-size: 16px

		&__priz
			top: 10px
			right: 10px
			color: $text
			display: flex
			align-items: center

			&:hover,
			&:focus
				color: $accent

				span
					border-color: $accent
					&::before
						border-color: $accent

			span
				position: relative
				display: block
				width: 22px
				height: 22px
				border: 2px solid #fff
				border-radius: 50%
				transition: all .6s
				margin-left: 10px

				&::before
					content: ''
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-70%, -50%) rotate(135deg)
					width: 8px
					height: 8px
					border-top: 1.3px solid #fff
					border-left: 1.3px solid #fff
					transition: all .6s